* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: rgb(223, 213, 213);
  justify-content: space-between;
  background-image: url('https://github.com/laport14/Bar-Tender/blob/master/assets/background.jpg?raw=true');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.title {
  background-color: rgb(68, 68, 68);
}

h3 {
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.liquor {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  font-family: 'Montserrat', sans-serif;
  color: rgb(223, 213, 213);
  background-color: rgb(51, 51, 51);
  
}

select {
  background-color: transparent;
  border: none;
  color: rgba(129, 129, 129, 0.425);
}


div img {
  max-width: 400px;
  max-height: 400px;
  border-radius: 5px;
}

#content {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  color: rgb(223, 213, 213);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  padding: 10px
}

footer {
  padding: 5px;
  color: black;
  background-color: rgb(245, 245, 257);
}

@media screen and (max-width: 615px) {
  
  h1 {
    font-size: 20px;
  }

  h3 {
    font-size: 12px;
  }

  .liquor {
   display: block;
   background-color: transparent;
   font-size: 12px;
    
  }

  #content {
    color: rgb(223, 213, 213);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px;
    flex-wrap: wrap;
  }

  div img {
    max-width: 200px;
    max-height: 200px;
  }  

  footer {
    padding: 2px;
    font-size: 10px;
  }
}


